<div class="forgetpw_sec">
    <form action="" method="post" class="forgetpw_form">
      <fieldset>
        <h2>Reset Your Password:</h2>
        {{#if message}}
        <div class="f_row">
          <p class="alert_notmatch">{{message}}</p>
        </div>
        {{/if}}
        <p>{{email}}</p>
        <div class="f_row">
          <label>Enter New Password:</label>
          <input type="password" id="pwd" placeholder="">
        </div>
        <div class="f_row">
          <label>Confirm New Password:</label>
          <input type="password" id="conf_pwd" placeholder="">
        </div>
        <div class="f_row">
          <p class="alert_notmatch hide">**Passwords do not match. Please try again.</p>
        </div>
        <input type="password" id="new_pwd" name="newPassword" class="hide" placeholder="">
        <input type="submit" value="Reset Password">

      </fieldset>
    </form>
</div>