<table class="container">
    <tr>
        <td>
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <br>
                                    <br>
                                    <p class="lead">{{user.fullName}} shared <a href="{{url}}">{{project.project_name}}</a> project with you. Please visit the Missio app to learn about the project and show your support by giving, sharing, or acting.</a></p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
            <!-- container end below -->
        </td>
    </tr>
</table>